name: Fetch Country Data

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * 0" # every Sunday
  workflow_dispatch:

jobs:
  fetch-data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Fetch World Bank data
        run: node script/fetch_worldbank_data.js

      - name: Commit data
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add data/worldbank.json
          git commit -m "Update country stats data" || echo "No changes"
          git push
